* text=auto eol=lf
*.har binary
*.tif binary
*.png binary
*.gz binary
test/fixtures/**/golden.json -diff linguist-generated
test/fixtures/**/network.har linguist-generated
test/fixtures/**/expected.json linguist-generated
test/fixtures/**/network-port.har linguist-generated
